#header {
    color: #247BA0;
    text-align: center;
    font-size: 20px;
}

#nav {
    background-color: deepskyblue;
    padding: 5px;
}

ul {
    list-style-type: none;
}

li a {
    color: #F1FAEE;
    font-size: 30px;
    column-width: 20px;
}

li {
    display: inline;
    padding-left: 2px;
    column-width: 20px;
}

a {
    text-decoration: none;
    margin-left: 20px;
}

li a:hover {
    background-color: #F3FFBD;
    color: #FF1654;
    padding: 1%;
}

#article {
    background-color: #EEF5DB;
    padding: 10px;
    padding-bottom: 75%;
}

#footer {
    background-color: #BDD2FA;
    text-align: center;
    padding-bottom: 5%;
    font-size: 20px;
}

#side {
    text-align: center;
    float: right;
    width: 15px;
    padding-bottom: 75%;
    background-color: #BDD2FA;
}

#con {
    border: double;
    border-color: burlywood;
}